@import "~bootstrap/scss/bootstrap";


body {
    background-color: #272727;
    color: white;
}

.card-info {
    background-color: teal;
    border-radius: 10px;
    height: 220px;
    width: 210px;
}